# Node
node_modules/
dist/
coverage/

# Environment
.env
.env.*
!.env.example

#Notes
notes.txt

# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# ML
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log